.dict-page {
  .ant-form-inline {
    width: 100%;
    display: block !important;
    padding-bottom: 24px;
  }
}

.dict-action-page {
  .dict-content {
    .ant-col.ant-form-item-control {
      width: 100% !important;
      max-width: 100% !important;
    }

    .ant-pro-table-list-toolbar-container {
      padding-block: 4px !important;
    }

    .ant-btn {
      display: flex !important;
      align-items: center;
    }
  }
}

