.ant-pro-grid-content {
  height: 100%;
  .ant-pro-grid-content-children {
    height: 100%;
  }
  .ant-pro-page-container-children-container {
    height: 100%;
  }
}

.self-tree {
  .ant-tree-node-content-wrapper {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    .ant-tree-title,
    .ant-tree-title span {
      display: block;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
